.react-calendar__tile.selected {
    background-color: #4CAF50; /* Green color for selected dates */
    color: rgb(205, 157, 157);
  }
  
  .react-calendar__tile.unselected {
    background-color: #d3d3d3; /* Grey color for unselected dates */
  }

.calendar-container {
  display: flex;
  flex-direction: column;  /* Arrange elements vertically */
  align-items: center;     /* Center-align content */
  padding: 20px;           /* Add some padding */
}

.mood-selector {
  margin-bottom: 20px;     /* Space between the mood scale and the calendar */
}

  
  .react-calendar {
    width: 80%;  /* Resize the calendar to 80% of the available width */
    max-width: 800px;  /* Optional: limit the maximum size */

  }

.mood-green {
  background-color: rgb(152, 196, 152);
  color: white;
}

.mood-blue {
  background-color: rgb(133, 207, 236);
  color: white;
}

.mood-yellow {
  background-color: rgba(255, 255, 135, 0.744);
}

.mood-red {
  background-color: rgb(255, 118, 118);
  color: white;
}

.mood-turquoise {
  background-color: rgb(106, 164, 147);
  color: white;
}

.mood-purple {
  background-color: rgb(140, 100, 140);
  color: white;
}
